@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
  }
/*========== Page Styling ==========*/
  body {
    margin: 2%;
    padding: 1%;
    background-color: #333232;
    color: #ffffff;
  }
  ul {
    list-style: none;
  }
/*========== Typography ==========*/
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
    /*Typescale values are from lesson 2*/
h1{
    font-size: 3em;
}
legend {
    font-size: 2.25em;
    font-family: "Antic Didone", serif;
    font-weight: 400;
    font-weight: bold;
}
p {
    font-size: 0.875em;
    font-family: "Antic Didone", serif;
    font-weight: 400;
    font-style: normal;
}
/*========== Story Result Colors ==========*/
h3, .randomSentence {
    border: 2px dashed white;
    width: 70vw;
    height: 40px;
    padding: 1%;
    background-color: black;
    font-weight: bolder;
}
#subject {
    color: purple;
}
#verb {
    color: blue;
}
#adjective {
    color: orangered;
}
#noun {
    color: green;
}
#phrase {
    color: hotpink;
}
/*========== Fieldset Styling ==========*/
fieldset.purple {
    background-color: rgb(43, 17, 43);
}

fieldset.blue {
    background-color: rgb(21, 21, 56);
}

fieldset.green {
    background-color: rgb(7, 52, 7);
}

fieldset.orange {
    background-color: rgba(255, 68, 0, 0.497);
}

fieldset.pink {
    background-color: rgba(255, 105, 180, 0.557);
}
